@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2{
    text-align: center;
}

/* universal background color */
body {
    background-image: url(images/shards1.png);
    background-size: cover;
    background-color: rgb(96, 150, 186); 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 20px;
}

main {
    margin-top: 2rem;
}

.narrow {
    margin: 0rem 1rem;
}

/* area inside body where the content is */
.subPage {
  max-width: 95%;
  background-color: rgb(231, 236, 239);
  outline: 3px solid #000000;
  margin: auto;
  padding: 12px;
}

@media (min-width: 500px) {
    .subPage {
        width: 80%;
        max-width: 1000px;
    }
    
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #3204fd2f, #9907fa30), url(images/planet-bg.png) no-repeat top center;
    /*
    background-image: url(images/planet-bg.png);
    background-size: cover;
    background: rgb(39, 76, 119);*/
    color: #fff895;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif
}

.title {
    color:rgb(243, 240, 161)
}
.small-title {
    color: bisque;
}

footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(images/planet-bg2.png);
    background-size: cover;
    /*background: rgb(39, 76, 119);*/
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif
}

#link-color {
    color: rgb(255, 249, 185);
}

nav {
    border-top: #000000 solid 3px;
    background-image: url(images/planet-bg2.png);
    background-size: cover;
    /*background: rgb(39, 76, 119);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    display: block;
    padding: 1rem;
    text-align: center;
}

.navbutton1 {
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    /*background-color: rgb(96, 150, 186); */
    background-image: linear-gradient(to bottom right, rgb(96, 150, 186), rgb(239, 248, 255));
    font-weight: bold;
    width: fit-content;
}

.navbutton2 {
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    /*background-color: rgb(96, 150, 186); */
    background-image: linear-gradient(to bottom right, rgb(222, 172, 87), rgb(239, 248, 255));
    font-weight: bold;
    width: fit-content;
}



#books-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    display: block;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background-image: url(images/tv-bg.png);
    border-radius: 3rem;
    border-style: double;
    border-color: rgb(33, 107, 8);
}

#books-nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(96, 150, 186); 
}

a:link,{
    color: rgb(0 ,0 , 0);
    text-decoration: none;
}

a:visited {
    color: rgb(48, 58, 122);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(237, 175, 88);
}

a:active {
    text-decoration: none;
}


/*layout for boxes with an image on top */
.box-image-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(163, 206, 241);
    flex-direction: column;
    margin-bottom: 1rem;
}

#terra-prima {
}

#children-of-the-meteorite {
}

#others{
}

#tp-bg {
    background-image: url(images/bgterraprima.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#cotm-bg {
    background-image: url(images/cotmbg.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#others-bg {
    background-image: url(images/zinesbg2.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#semitransparent {
    background-color: rgba(255, 255, 255, 0.724);
    padding: 0.5rem;
    border-radius: 10px;
}

.product-details {
    background-color: rgb(231, 236, 239);
    padding: 0.1rem 0.8rem;
    margin-bottom: 1rem;
}

.back-to-top {
    text-align: center;
    margin: 1rem;
}

/* layout for boxes with image on left */
.box-image-left {
    display:flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin: auto;
    background-color: rgb(163, 206, 241);
    margin-bottom: 1rem;
}

.box-image-left-image {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.box-image-left-text {
    flex: 1;
}

@media (max-width: 768px) {
    .box-image-left {
        flex-direction: column;
        text-align: center;
    }

    .box-image-left-image {
        width: 100%;
        height: auto;
    }
}


/*layout for bulletin board on BIG screens*/
#board-big-screen {
    background-image: url(images/big-tv.png);
        background-size: cover;
    h3 {
        text-align: center;
    }
    text-align: left;
    color: rgb(243, 243, 8);
    gap: 1rem;
    padding: 4rem 5rem 2rem 16rem;
    border-radius: 1rem;
    margin: 2rem 5rem;
    font-family: 'Science Gothic', sans-serif;
    display: block;
    height: 450px;
}

@media only screen and (max-width: 990px) {
    #board-big-screen {
        display: none;
    }
}


/*layout for bulletin board on SMALL screens*/
#board-small-screen {
    background-image: url(images/tv-bg.png);
        background-size: cover;
    text-align: left;
    color: rgb(243, 243, 8);
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    font-family: 'Science Gothic', sans-serif;
}

@media only screen and (min-width: 990px) {
    #board-small-screen {
        display: none;
    }
}



/*layout for boxes with buttons */
.box-with-buttons {
    display:flex;
    align-items: top;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(39, 76, 119);

}

.box-with-buttons-image {
    width: 350px;
    height: auto;
    object-fit: cover;
}


.box-with-buttons-text {
    flex: 1;
    border-radius: 10px;
    border-color: #000000;
}

@media (max-width: 768px) {
    .box-with-buttons {
        flex-direction: column;
        text-align: center;
    }

    .box-with-buttons-image {
        width: 100%;
        height: auto;
    }
}

figure {
    text-align: center;
    display: block;
}
    
@media only screen and (max-width: 800px) {
    img {
        width: 90%;

    }
}

#mc_embed_shell {
    text-align: center;
    display: block;
    width: 80%;
    gap: 1rem;
    padding: 1rem 1rem;
    margin: auto;
    background-image: url(images/tv-bg.png);
        background-size: cover;
    color: rgb(243, 243, 8);
    margin-bottom: 1rem;
    border-radius: 2rem;
}

#mce-responses {
    padding-top: 1rem;
}

.social-media-box {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.social-media-box img {
    height: 50px;
    width: auto;
}

@media (max-width: 768px) {
    .social-media-box {
        height: 50%;
        width: auto;
    }